// Colors
$backOff: #e9f0ef;
$colorOff: #000;
$containerOff: #fff;
$borderOff: #888;
$txtStrong:  rgb(23, 7, 95);
$primaryOff: rgb(62, 133, 62);
$warningOff:  rgb(160, 8, 8);
// Spacing
$xs-size: 0.5rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 90rem;
$s-radius: 8%;
//fonts
$fontMain: Comic Sans MS, cursive, sans-serif;
